/*Footer*/
footer{
    width: 100%;
    min-height: 352px;
    float: left;
    background-color: #1C1A19;
    padding: 82px 0 85px;
    a{
        &:hover{
            opacity: 0.7;
            text-decoration: none;
        }
    }
    .widget{
        width: 100%;
        float: left;
        h5{
            color: #FFFFFF;
            margin-bottom: 20px;
        } 
    }
    .widget_nav_menu{
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                width: 100%;
                float: left;
                a{
                    width: 100%;
                    float: left;
                    display: block;
                    font-size: 14px;
                    line-height: 23px;
                    color: #EEE5E5;
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                    &:hover{
                        -webkit-transform: translateX(5px);
                                transform: translateX(5px);
                    }
                }
            }
        }
    }
    .widget_text{
        p{
            font-size: 14px;
            line-height: 23px;
            color: #EEE5E5;
        }
        a{
            color: #EEE5E5;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
    .yikes-mailchimp-field-required{
        width: 100%;
        float: left;
        margin-bottom: 16px!important;
    }
    .yikes-easy-mc-email{
        width: 100%;
        float: left;
        font-size: 14px;
        line-height: 23px;
        color: #DCDCDC;
        background-color: transparent!important;
        padding: 0 8px 2px 8px!important;
        margin-bottom: 0!important;
        border: none!important;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)!important;
        &:focus{
            outline: none!important;
        }
    }
    .yikes-easy-mc-submit-button{
        width: auto!important;
        min-height: inherit!important;
        display: inline-block!important;
        border: 2px solid #D94245!important;
        font-size: 14px;
        line-height: 17px;
        color: #D94245;
        padding: 7px 11px!important;
        background-color: transparent;
        margin-top: 0!important;
        &:focus{
            outline: none!important;
        }
    }
    .yikes-easy-mc-success-message{
        background: transparent!important;
        padding: 0 0 12px 0!important;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0;
    }
}
/*Cart*/
.popup__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: rgba(28, 26, 25, 0.4);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.show{
        opacity: 1;
        visibility: visible;
        .popup{
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
.popup{
    width: 100%;
    max-width: 815px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    -webkit-transform: translate(-50%, -40%);
            transform: translate(-50%, -40%);
    z-index: 10;
    padding: 50px 200px 10px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    .close__popup{
        width: 22px;
        height: 22px;
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        &::before{
            content: '';
            width: 2px;
            height: 25px;
            display: block;
            background-color: #122947;
            position: absolute;
            top: -2px;
            left: 11px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        &::after{
            content: '';
            width: 2px;
            height: 25px;
            display: block;
            background-color: #122947;
            position: absolute;
            top: -2px;
            left: 11px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }
    .title{
        width: 100%;
        float: left;
        margin-bottom: 33px;
    }
    h2{
        text-transform: uppercase;
        font-weight: 600;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #122947;
        margin-bottom: 0;
    }
    .body{
        width: 100%;
        float: left;
        h4{
            color: #122947;
        }
    }
}
.order__status{
    width: 100%;
    float: left;
    margin: 25px 0 30px;
    .status{
        font-size: 16px;
        line-height: 24px;
        &.fail{
            color: #D94245;
        }
        &.success{
            color: #28a745;
        }
    }
}
.field__row{
    margin: 0 -10px;
    .half{
        width: 50%;
        float: left;
        padding: 0 10px;
    }
    .full{
        width: 100%;
        float: left;
        padding: 0 10px;
    }
}
.submit__row{
    margin: 20px 0 0;
    button{
        margin-left: 9px;
    }
}
form.order__form{
    width: 100%;
    float: left;
}
.order__list{
    width: 100%;
    max-height: 270px;
    overflow: auto;
    float: left;
    padding: 0;
    margin: 10px 0 30px 0; 
    list-style: none;
    line-height: 0;
    li{
        width: 100%;
        min-height: 121px;
        float: left;
        position: relative;
        padding: 24px 24px 24px 104px;
        border-top: 1px solid rgba(220, 220, 220, 0.5);
        &.empty{
            padding: 24px 0;
            color: #656565;
            min-height: inherit;
            h5{
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 0;
            }
        }
        .thumbnail{
            width: 80px;
            height: 72px;
            position: absolute;
            top: 24px;
            left: 0;
            display: block;
            background-color: #F0F0F0;
            img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
            }
        }
        .content{
            width: 100%;
            float: left;
            h5{
                font-family: 'ProximaNova';
                margin-top: 10px;
                font-size: 16px;
                font-weight: 400;
                line-height: 21px;
                color: #122947;
                margin-bottom: 0;
            }
        }
        &:last-child{
            border-bottom: 1px solid rgba(220, 220, 220, 0.5);
        }
    }   
}
@media screen and (max-height: 680px){
    .popup{
        padding: 20px 100px 0;
    }
    .order__list{
        max-height: 185px;
    }
}
@include media-breakpoint-down(md){
    footer{
        padding: 50px 0;
        .widget{
            margin-bottom: 30px;
        }
    }
}
@include media-breakpoint-down(sm){
    .popup{
        padding: 20px 30px 0;
    }
}