/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap&subset=cyrillic-ext');
@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Light.woff') format('woff'), 
       url('../fonts/ProximaNova-Light.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Regular.woff') format('woff'),
       url('../fonts/ProximaNova-Regular.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova-Semibold.ttf')  format('truetype'),
       url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: 600;
  font-style: normal;
}
/*Typography*/
h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 66px;
    letter-spacing: 0.11em;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.12em;
}
h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}
h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 27px;
}
h5{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
}
p{
    font-family: 'ProximaNova';
    font-size: 16px;
    line-height: 25px;
    color: #1C1A19;
}
/*General*/
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: #122947;
}
::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}
.preloader__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.hide{
        opacity: 0;
        visibility: hidden;
    }
}
#loading-center-absolute{
    position: absolute;
    left: 50%;
    top: 50%;
    height: 118px;
    width: 118px;
    margin-top: -59px;
    margin-left: -59px;
}
.object{
    width: 20px;
    height: 20px;
    background-color: #D94245;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;
    }
.object:nth-child(3n+0) {
    margin-right: 0px;
}
#object_one {
    -webkit-animation: animate 1s -0.9s ease-in-out infinite ;
    animation: animate 1s -0.9s ease-in-out infinite ;
    }
#object_two {
    -webkit-animation: animate 1s -0.8s ease-in-out infinite ;
    animation: animate 1s -0.8s ease-in-out infinite ;
    }
#object_three {
    -webkit-animation: animate 1s -0.7s ease-in-out infinite ;
    animation: animate 1s -0.7s ease-in-out infinite ;
    }
#object_four {
    -webkit-animation: animate 1s -0.6s ease-in-out infinite ;
    animation: animate 1s -0.6s ease-in-out infinite ;
    }
#object_five {
    -webkit-animation: animate 1s -0.5s ease-in-out infinite ;
    animation: animate 1s -0.5s ease-in-out infinite ;
    }
#object_six {
    -webkit-animation: animate 1s -0.4s ease-in-out infinite ;
    animation: animate 1s -0.4s ease-in-out infinite ;
    }
#object_seven {
    -webkit-animation: animate 1s -0.3s ease-in-out infinite ;
    animation: animate 1s -0.3s ease-in-out infinite ;
    }
#object_eight {
    -webkit-animation: animate 1s -0.2s ease-in-out infinite ;
    animation: animate 1s -0.2s ease-in-out infinite ;
    }
#object_nine {
    -webkit-animation: animate 1s -0.1s ease-in-out infinite ;
    animation: animate 1s -0.1s ease-in-out infinite ;
    }

@-webkit-keyframes animate {
 

  50% {
    -ms-transform: scale(1.5,1.5); 
    -webkit-transform: scale(1.5,1.5); 
    transform: scale(1.5,1.5); 
      }
 
  100% {
    -ms-transform: scale(1,1); 
    -webkit-transform: scale(1,1); 
    transform: scale(1,1); 
      }

}

@keyframes animate {
  50% {
    -ms-transform: scale(1.5,1.5); 
    -webkit-transform: scale(1.5,1.5); 
    transform: scale(1.5,1.5); 
      }
 
  100% {
    -ms-transform: scale(1,1); 
    -webkit-transform: scale(1,1); 
    transform: scale(1,1); 
      }
  
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 10px;
    padding-right: 10px;
}
.nopadding{
    padding: 0!important;
}
.container-fluid{
    &.padding{
        padding: 0 30px!important;
    }
}
.container{
    max-width: 1395px;
}
.btn{
    -webkit-transition: all 0.3s ease!important;
            transition: all 0.3s ease!important;
}
.btn{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 35px 12px;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    &::before{
        content: '';
        width: 0;
        height: 0;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        border-radius: 50%;
        background-color: #D94245;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
    &:hover{
        &::before{
            width: 400px;
            height: 400px;
        }
        span{
            color: #fff;
        }
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
    &.disable{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &.load{
        opacity: 0.6;
        pointer-events: none;
    }
    span{
        color: #D94245;
        display: block;
        position: relative;
        z-index: 10;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &.btn__simple{
        border: 2px solid #D94245;
    }
    &.btn__grey{
        border: 2px solid #656565;
        &:hover{
            span{
                color: #fff;
            }
        }
        span{
            color: #656565;
        }
        &::before{
            background-color: #656565;
        }
    }
    &.btn__white{
        border: 2px solid #DCDCDC;
        &::before{
            background-color: #DCDCDC;
        }
        &:hover{
            span{
                color: #122947;
            }
        }
        span{
            color: #DCDCDC;
        }
    }
}
.btn__row{
    margin: 20px 0 0;
}
html{
    overflow-x: hidden;
    overflow-y: auto; 
}
body{
    font-family: 'ProximaNova';
    overflow-x: hidden;
    overflow-y: auto;
}
main{
    width: 100%;
    min-height: 504px;
    float: left;
    padding-top: 72px;
}
img{
    &.lazy{
        -webkit-filter: blur(5px);
                filter: blur(5px);
    }
}
@media screen and (min-width: 1921px){
    .container{
        max-width: 1700px;
    }
}
/*Banner*/
.home{
    .fullscreen__banner{
        max-height: inherit;
    }
}
.fullscreen__banner{
    width: 100%;
    height: calc(100vh - 72px);
    max-height: 504px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    float: left;
    position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .content{
        width: 100%;
        float: left;
        padding: 0 30px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        color: #fff;
        z-index: 2;
        h1{
            margin-bottom: 23px;
            text-transform: uppercase;
        }
        p{
            font-size: 22px;
            line-height: 30px;
            color: #fff;
            margin-bottom: 0;
        }
        text{
            width: 100;
            float: left;
        }
    }
    .button__row{
        width: 100%;
        float: left;
        margin-top: 12px;
    }
    .arrow{
        position: absolute;
        bottom: 24px;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        z-index: 2;
        background-image: url('../images/icon-arrow.svg');
        cursor: pointer;
        -webkit-animation: jump 1s infinite;
                animation: jump 1s infinite
    }
}
@keyframes jump {
    0% {
        transform: translateY(0); 
    }
    60% {
        transform: translateY(6px); 
    }
    100% {
        transform: translateY(0); 
    }
}
.fullscreen__slider{
    width: 100%;
    float: left;
    position: relative;
    .slide{
        width: 100%;
        height: calc(100vh - 72px);
        background-position: center;
        background-size: cover;
        position: relative;
        &.slick-active{
            .content{
                opacity: 1;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            float: left;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            display: block;
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 20%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        }
        .content{
            width: 100%;
            float: left;
            padding: 0 30px;
            position: absolute;
            top: 50%;
            -webkit-transition: all 1s ease;
                    transition: all 1s ease;
            -webkit-transform: translateY(0%);
                    transform: translateY(0%);
            color: #fff;
            z-index: 2;
            opacity: 0;
            h1{
                margin-bottom: 23px;
                text-transform: uppercase;
            }
            p{
                font-size: 22px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 0;
            }
            text{
                width: 100;
                float: left;
            }
        }
        .button__row{
            width: 100%;
            float: left;
            margin-top: 12px;
        }
    }
    &.slick-slider .slick-dots{
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 40px;
        margin: 0;
        z-index: 3;
        li{
            button{
                background-color: #dcdcdc;
            }
            &.slick-active{
                button{
                    background-color: #D94245;
                }
            }
        }
    }
    .slick-list{
        z-index: 2;
    }
}
@include media-breakpoint-down(md){
    .fullscreen__banner .content,
    .fullscreen__slider .slide .content {
        h1{
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
}
/*Sections*/
section{
    width: 100%;
    float: left;
    &.padding{
        padding: 82px 0 88px;
    }
    &.padding__top{
        padding: 82px 0 6px;
    }
    &.background{
        background-image: url('../images/products/accessories-background.jpg');
        background-position: center;
        padding: 84px 0 0;
    }
}
.section__title{
    width: 100%;
    float: left;
    margin-bottom: 88px;
    &.nomargin{
        margin-bottom: 31px;
        h2{
            margin-bottom: 0;
        }
    }
    &.zeromargin{
        margin-bottom: 0;
    }
    &.text-left{
        h2{
            width: auto;
            &::after{
                top: 17px;
                bottom: auto;
                right: -55px;
                left: auto;
                -webkit-transform: translateX(0);
                        transform: translateX(0);
            }
        }
    }
    &.text-center{
        &.nomargin{
            margin-bottom: 60px;
        }
    }
    h2{
        width: 100%;
        float: left;
        position: relative;
        margin-bottom: 49px;
        text-transform: uppercase;
        color: #122947;
        &::after{
            content: '';
            width: 40px;
            height: 2px;
            display: block;
            position: absolute;
            left: 50%;
            bottom: -18px;
            background: #D94245;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
    &.text-left{
        h2::after{
            -webkit-transform: translateX(0);
                    transform: translateX(0);
        }
    }
    &.small__margin{
        margin-bottom: 60px;
        h2{
            margin-bottom: 0;
        }
    }
    p{
        width: 100%;
        float: left;
        margin-bottom: 0;
        color: #1C1A19;
    }
}
/*Products categories section*/
.product__category{
    width: 100%;
    height: 415px;
    float: left;
    overflow: hidden;
    margin-bottom: 40px;
    display: block;
    &:hover{
        .title h5{
            color: #D94245;
        }
        .thumbnail{
            &::before{
                opacity: 1;
            }
            span{
                &::before,
                &::after{
                    opacity: 1;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                }
            }
            .img{
                -webkit-transform: translate(-50%, -50%) scale(1.1);
                        transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
    .thumbnail{
        width: 100%;
        height: 375px;
        position: relative;
        overflow: hidden;
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            opacity: 0;
            z-index: 10;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        span{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &::before{
                content: '';
                width: 50px;
                height: 1px;
                background-color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                -webkit-transform: translate(-150%, -50%);
                        transform: translate(-150%, -50%);
            }
            &::after{
                content: '';
                width: 1px;
                height: 50px;
                background-color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                -webkit-transform: translate(-50%, -150%);
                        transform: translate(-50%, -150%);
            }
        }
        .img{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            background-size: cover;
            background-position: center;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            -webkit-transition: all 0.6s ease;
                    transition: all 0.6s ease;
        }
    }
    .title{
        width: 100%;
        height: 40px;
        float: left;
        padding-bottom: 9px;
        h5{
            margin-bottom: 0;
            color: #122947;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
}
.fullscreen__image{
    width: 100%;
    float: left;
    img{
        width: 100%;
        height: auto;
    }
}
@include media-breakpoint-down(sm){
    .section__title{
        margin-bottom: 50px;
    }
    .product__category {
        height: 355px;
        margin-bottom: 20px;
        .thumbnail{
            height: 300px;
        }
    }
}
@include media-breakpoint-down(xs){
    .section__title h2{
        font-size: 26px;
        line-height: 32px;
    }
}
/*Image content section*/
.content__image{
    width: 100%;
    float: left;
    .slide{
        width: 100%;
        height: 600px;
        float: left;
        background-size: cover;
        background-position: center;
    }
    .slick-dots{
        position: absolute;
        left: 0;
        bottom: 30px;
        width: 100%;
    }
}
.content__text{
    width: 100%;
    float: left;
    padding: 130px 100px 0 65px;
    &.padding{
        padding: 130px 65px 0 165px;
    }
    .section__title{
        margin-bottom: 40px;
        h2{
            &::after{
                top: auto;
                bottom: -24px;
                right: auto;
                left: 0;
            }
        }
    }
    .text__field{
        width: 100%;
        float: left;
        p{
            margin-bottom: 24px;
        }
        h1,h2,h3,h4,h5,h6{
            color: #122947;
        }
        h4{
            margin-bottom: 24px;
        }
        ol{
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 0;
            counter-reset: section;
            li{
                font-size: 16px;
                line-height: 23px;
                color: #1C1A19;
                margin-bottom: 9px;
                padding-left: 18px;
                position: relative;
                &::before{
                    content: "0" counter(section);
                    counter-increment: section;
                    position: absolute;
                    left: 0;
                    top: 4px;
                    font-size: 10px;
                    line-height: 15px;
                    color: #122947;
                }
            }
        }
        a{
            font-size: 16px;
            line-height: 23px;
            color: #1C1A19;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &:hover{
                color: #D94245;
            }
        }
    }
    .btn__row{
        width: 100%;
        float: left;
        margin: 0;
    }
}
@media screen and (max-width: 1367px){
    .content__text{
        padding: 50px 30px 0 30px;
        &.padding{
            padding: 50px 30px 0;
        }
    }
}
@include media-breakpoint-down(md){
    .content__text{
        padding: 50px 30px 50px 30px;
        &.padding{
            padding: 50px 30px 50px;
        }
    }
}
@include media-breakpoint-down(xs){
    .content__image .slide{
        height: 400px;
    }
}
/*Testimonials*/
.slick-slider{
    .slick-arrow{
        width: 43px;
        height: 43px;
        display: block;
        border-radius: 50%;
        background-color: #fff;
        border: 1px solid #DCDCDC;
        cursor: pointer;
        font-size: 0;
        color: transparent;
        position: absolute;
        z-index: 10;
        top: 15px;
        padding: 0;
        outline: none;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:active{
            opacity: 0.8;
        }
        &.slick-prev{
            left: 0;
            &::before{
                margin: -8.5px 0 0 -7px;
                background-image: url('../images/icon-arrow-prev.svg');
            }
        }
        &.slick-next{
            right: 0;
            &::before{
                margin: -8.5px 0 0 -3px;
                background-image: url('../images/icon-arrow-next.svg');
            }
        }
        &::before{
            content: '';
            position: absolute;
            display: block;
            width: 10px;
            height: 19px;
            left: 50%;
            top: 50%;
            margin: -8.5px 0 0 -5px;
        }
    }
    .slick-dots{
        padding: 0;
        margin: 37px 0 0;
        list-style: none;
        line-height: 0;
        text-align: center;
        li{
            display: inline-block;
            line-height: 0;
            padding: 0;
            margin: 0 8px;
            button{
                width: 8px;
                height: 8px;
                display: block;
                background-color: #DCDCDC;
                border-radius: 50%;
                font-size: 0;
                color: transparent;
                padding: 0;
                border: none;
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                &:focus{
                    outline: none;
                }
            }
            &.slick-active{
                button{
                    background-color: #1C1A19;
                }
            }
        }
    }
    .slick-slide{
        outline: none;
    }
}
.testimonial__slider{
    width: 100%;
    float: left;
    padding: 0 115px;
    margin-bottom: 88px;
    .content{
        width: 100%;
        float: left;
        p{
            font-size: 22px;
            line-height: 32px;
            text-align: center;
            color: #1C1A19;
            margin-bottom: 19px;
        }
        .name{
            font-size: 18px;
            line-height: 27px;
            letter-spacing: 0.1em;
            color: #656565;
            display: inline-block;
            position: relative;
            padding-left: 18px;
            &::before{
                content: '';
                width: 15px;
                height: 1px;
                display: block;
                background-color: #656565;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
            }
        }
    }
}
/*Contact section*/
.contact__section{
    padding: 48px 0;
    background: #1C1A19 url('../images/contact-patern.png');
    .content__image,
    .contact__column{
        background-color: #fff;
    }
    .content__text{
        padding: 70px 35px 0 50px;
        background-color: #fff;
    }
    .form__block{
        padding: 0 35px 30px 0;
    }
    .form__section{
        background-color: #fff;
        width: 100%;
        float: left;
        padding: 65px 85px;
        .section__title{
            margin-bottom: 40px;
            h2{
                margin-bottom: 0;
            }
        }
        .form__block{
            width: 100%;
            float: left;
        }
    }
    .contact__wrapper{
        width: 100%;
        float: left;
        padding: 90px 160px 50px;
    }
}
.form__block{
    width: 100%;
    float: left;
}
.wpcf7-form-control-wrap{
    width: 100%;
    float: left;
    position: relative;
    .wpcf7-not-valid-tip{
        position: absolute;
        bottom: -8px;
        left: 0;
        font-size: 12px;
        z-index: 1;
    }
}
div.wpcf7-validation-errors,
div.wpcf7-acceptance-missing{
    width: 100%;
    float: left;
    padding: 5px 8px;
    margin: 10px 0 0;
    text-align: center;
    font-size: 14px;
    border-width: 1px;
}
.form__row{
    width: 100%;
    float: left;
    .form__column{
        width: 50%;
        float: left;
        padding: 0 15px;
    }
}
.form__field{
    width: 100%;
    float: left; 
    font-size: 14px;
    line-height: 17px;
    color: #656565;
    padding: 13px 0;
    border: none;
    border-bottom: 1px solid #DCDCDC;
    margin-bottom: 17px;
    &:focus{
        outline: none;
    }
}
.form__submit{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 13px 35px 12px;
    border-radius: 0;
    color: #D94245;
    background-color: transparent;
    border: 2px solid #D94245;
    margin-top: 23px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &:hover{
        background-color: #D94245;
        color: #fff;
    }
    &:focus{
        outline: none;
    }
}
@include media-breakpoint-down(md){
    .contact__section{
        background: inherit;
        padding: 0;
        .contact__wrapper{
            padding: 90px 30px 50px;
        }
        .content__text{
            padding: 50px 30px 0; 
            .form__block{
                padding: 0 0 30px 0;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .contact__section .contact__wrapper{
        padding: 90px 20px 50px;
    }
}
/*Partners*/
.partners__slider{
    width: 100%;
    float: left;
    padding: 0 45px;
    margin-bottom: 88px;
    .slick-arrow{
        top: 21px;
    }
    .partner{
        width: 100%;
        height: 85px;
        float: left;
        position: relative;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
@include media-breakpoint-down(md){
    .testimonial__slider{
        padding: 0 50px;
        .content{
            p{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .testimonial__slider{
        .content{
            p{
                font-size: 16px;
                line-height: 22px;
            }
        }
    }
}
/*Products page*/
.products__banner{
    width: 100%;
    height: 50vh;
    min-height: 350px;
    float: left;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 31%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 31%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
        z-index: 1;
    }
    .content{
        width: 100%;
        float: left;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 10;
        color: #fff;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
        h1,h2,h3,h4,h5,h6{
            margin-bottom: 23px;
            text-transform: uppercase;
        }
        p{
            color: #fff;
            font-size: 18px;
            line-height: 29px;
        }
    }
    .arrow{
        position: absolute;
        bottom: 24px;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        z-index: 2;
        background-image: url('../images/icon-arrow.svg');
        cursor: pointer;
        -webkit-animation: jump 1s infinite;
                animation: jump 1s infinite
    }
}
.sidebar__widgets{
    width: 100%;
    float: left;
    &.mobile{
        .widget{
            h5{
                padding: 7px 0 10px;
                position: relative;
                cursor: pointer;
                border-bottom: 1px solid #D94245;
                margin-bottom: 25px;
                &::after{
                    content: '';
                    background-image: url('../images/icon-arrow-next.svg');
                    display: block;
                    width: 7px;
                    height: 16px;
                    position: absolute;
                    top: 12px;
                    right: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                }
                &.show{
                    &::after{
                        -webkit-transform: rotate(90deg);
                                transform: rotate(90deg);
                    }
                }
            }
            >div{
                display: none;
            }
        }    
    }
    .widget{
        width: 100%;
        float: left;
        margin-bottom: 27px;
        h4{
            padding-bottom: 7px;
            color: #122947;
            border-bottom: 1px solid #DCDCDC;
            margin-bottom: 15px;
        }
    }
    .menu{
        width: 100%;
        float: left;
        padding: 0;
        margin: 0;
        list-style: none;
        ul.sub-menu{
            width: 100%;
            float: left;
            margin-top: 15px;
            li{
                margin-bottom: 5px;
                a{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
        li{
            width: 100%;
            float: left;
            margin-bottom: 14px;
            &.current-menu-item,
            &.current-product-category-ancestor{
                >a{
                    color: #D94245;
                    &::after{
                        -webkit-transform: translateX(0);
                                transform: translateX(0);
                    }
                }
            }
            a{
                float: left;
                display: block;
                font-size: 16px;
                line-height: 25px;
                text-align: left;
                color: #656565;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                position: relative;
                overflow: hidden;
                text-decoration: none;
                &:hover{
                    color: #D94245;
                    &::after{
                        -webkit-transform: translateX(0);
                                transform: translateX(0);
                    }
                }
                &::after{
                    content: '';
                    width: 100%;
                    height: 1px;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    background-color: #D94245;
                    left: 0;
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                    -webkit-transform: translateX(-100%);
                            transform: translateX(-100%);
                }
            }
        }
    }
}
.products__wrapper{
    width: 100%;
    float: left;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.load{
        opacity: 0.6;
        pointer-events: none;
    }
}
.product__block{
    width: 100%;
    float: left;
    display: block;
    text-decoration: none;
    margin-bottom: 40px;
    .image{
        width: 100%;
        height: 375px;
        display: block;
        background-color: #F0F0F0;
        overflow: hidden;
        position: relative;
        img{
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .title{
        width: 100%;
        height: 40px;
        float: left;
        display: block;
        outline: none;
        &:hover{
            h5{
                color: #D94245;
            }
        }
        h5{
            width: 100%;
            float: left;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 9px;
            margin-bottom: 0;
            color: #122947;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
}
.image__block{
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }
}
.product__section{
    width: 100%;
    float: left;
    position: relative;
    .image__slider{
        width: 100%;
        float: left;
    }
    .thumb__slider{
        width: 100%;
        float: left;
        margin-top: 20px;
        .slide{
            padding: 0 10px;
        }
        .thumb__wrapper{
            width: 100%;
            height: 175px;
            float: left;
            position: relative;
            overflow: hidden;
            background-color: #F0F0F0;
            cursor: pointer;
            &:hover{
                &::before{
                    opacity: 1;
                    visibility: visible;
                }
                h5{
                    opacity: 1;
                    visibility: visible;
                    top: 50%;
                }
            }
            &::before{
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.5);
                z-index: 2;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            h5{
                width: 100%;
                float: left;
                padding: 0 10px;
                position: absolute;
                top: 70%;
                left: 0;
                text-align: center;
                color: #fff;
                margin-bottom: 0;
                z-index: 3;
                opacity: 0;
                visibility: hidden;
                -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
            }
        }
    }
}
.image__slider{
    width: 100%;
    float: left;
    img{
        width: 100%;
        height: auto;
        float: left;
    }
    .slide{
        width: 100%;
        height: 375px;
        background-color: #F0F0F0;
        position: relative;
        overflow: hidden;
    }
    .slick-dots{
        width: 100%;
        float: left;
        margin: 0;
        position: absolute;
        bottom: -24px;
        left: 0;
        z-index: 5;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    .slick-arrow{
        top: 50%;
        margin-top: -21.5px;
        background-color: transparent;
        border: none;
        &.slick-prev{
            left: -50px;
        }
        &.slick-next{
            right: -50px;
        }
    }
}
.show__more{
    width: 100%;
    float: left;
    margin-top: 25px;
}
@include media-breakpoint-down(md){
    .sidebar__widgets{
        padding: 0 30px;
    }
    .products__banner{
        min-height: 400px;
        height: inherit;
    }
}
@include media-breakpoint-down(xs){
    .image__slider .slide{
        height: 300px;
    }
    .product__block .image{
        height: 300px;
    }
    .sidebar__widgets{
        padding: 0 15px;
    }
    .products__banner{
        min-height: 350px;
    }
}
/*Product page*/
.single-product{
    .image__slider{
        .slide{
            width: 100%;
            height: 570px;
            padding: 0 10px;
            position: relative;
            background-color: transparent;
            .wrappper{
                width: 100%;
                height: 570px;
                float: left;
                background-color: #F0F0F0;
            }
            img{
                width: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
            }
        }
        .slick-arrow{
            &.slick-prev{
                left: 10px;
            }
            &.slick-next{
                right: 10px;
            }
        }
        .slick-dots{
            bottom: 24px;
        }
    }
}
.content__block{
    width: 100%;
    float: left;
    padding: 30px 0 0 34px;
    position: relative;
    h2{
        line-height: 44px;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #122947;
        margin-bottom: 22px;
        position: relative;
        padding-right: 140px;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            right: 125px;
            width: 2px;
            height: 100%;
            min-height: 80px;
            display: block;
            background-color: #D94245;
        }
    }
    .brand{
        position: absolute;
        top: 30px;
        right: 0;
        width: 110px;
        height: 80px;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
.tab__wrapper{
    width: 100%;
    float: left;
    margin-top: 10px;
    .nav{
        width: 100%;
        float: left;
        margin-bottom: 30px;
        li{
            font-weight: 700;
            font-size: 20px;
            margin-right: 20px;
            position: relative;
            cursor: pointer;
            &::before{
                content: '';
                width: 100%;
                height: 2px;
                display: block;
                position: absolute;
                bottom: -2px;
                left: 0;
                background-color: transparent;
            }
            &.active{
                color: #D94245;
                &::before{
                    background-color: #D94245;
                }
            }
        }
    }
    .content{
        width: 100%;
        float: left;
        margin-bottom: 20px;
        .tab{
            width: 100%;
            float: left;
            display: none;
            &.active{
                display: block;
            }
        }
    }
}
.specification{
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 34px;
    list-style: none;
    li{
        width: 100%;
        float: left;
        font-size: 16px;
        line-height: 25px;
        color: #656565;
        margin-bottom: 6px;
        .value{
            color: #1C1A19;
        }
    }
}
.color__block{
    width: 100%;
    float: left;
    margin: 0 0 20px 0;
}
.color__title{
    float: left;
    font-size: 16px;
    line-height: 25px;
    color: #656565;
}
ul.colors{
    float: left;
    padding: 0;
    margin: 5px 10px;
    list-style: none;
    line-height: 0;
    li{
        float: left;
        margin: 0 6px;
        span{
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: block;
        }
    }
}
.btn__group{
    width: 100%;
    float: left;
    button{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    a{
        margin-bottom: 10px;
    }
}
.show__table{
    display: inline-block;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #1C1A19;
    position: relative;
    text-decoration: none;
    margin-bottom: 35px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &:hover{
        text-decoration: none;
        color: #D94245;
        &::after{
            background-color: #D94245;
        }
    }
    &::after{
        content: '';
        width: 100%;
        height: 1px;
        display: block;
        background-color: #1C1A19;
        position: absolute;
        left: 0;
        bottom: -2px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
}
.additional__banner{
    width: 100%;
    float: left;
    img{
        width: 100%;
        height: auto;
    }
}
.additional__slider{
    width: 100%;
    float: left;
    .slide{
        width: 100%;
        height: 600px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .slick-dots{
        position: absolute;
        bottom: 35px;
        width: 100%;
        left: 0;
    }
}
.product__details{
    width: 100%;
    float: left;
    padding: 60px 250px 0 50px;
    h2{
        float: left;
        color: #122947;
        text-transform: uppercase;
        position: relative;
        margin-bottom: 34px;
        &::after{
            content: '';
            width: 40px;
            height: 2px;
            display: block;
            position: absolute;
            right: -56px;
            top: 18px;
            background-color: #D94245;
        }
    }
    .short__description,
    .full_description{
        width: 100%;
        float: left;
        p{
            font-size: 16px;
            line-height: 24px;
            color: #1C1A19;
        }
        &.hide{
            display: none;
        }
    }
    .show__details{
        font-size: 12px;
        line-height: 19px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: inline-block;
        color: #122947;
        position: relative;
        float: left;
        margin-top: 15px;
        text-decoration: none;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:hover{
            opacity: 0.7;
        }
        &.hide{
            display: none;
        }
        &::after{
            content: '';
            width: 12px;
            height: 6px;
            display: block;
            position: absolute;
            background-image: url('../images/icon-arrow-down.svg');
            right: -20px;
            top: 6px;
        }
    }
}
.accessories__bg{
    width: 100%;
    height: 640px;
    float: left;
    background-image: url('../images/products/accessories-background.jpg');
    background-position: center;
    position: absolute;
    top: -81px;
    left: 0;
}
.accessories__slider{
    margin: 0 -10px;
    .slick-current{
        .product__block{
            .title{
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                        transform: translateY(0);
            }
        }
    }
    &.slick-slider .slick-arrow{
        width: 34px;
        height: 32px;
        border-radius: 0;
        background-color: transparent;
        &::before{
            width: 6px;
            height: 12px;
            background-size: cover;
        }
        &.slick-next{
            bottom: -10px;
            top: auto;
            right: 10px;
            &::before{
                margin: -5.5px 0 0 -3px;
            }
        }
        &.slick-prev{
            bottom: -10px;
            top: auto;
            left: auto;
            right: 55px;
            &::before{
                margin: -5.5px 0 0 -3px;
            }
        }
    }
    .product__block{
        padding: 0 10px;
        .images{
            height: 320px;
            img{
                width: 100%;
                height: auto;
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
            }
        }
        .title{
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: translateY(150%);
                    transform: translateY(150%);
        }
    }
}
@media screen and (max-width: 1367px){
    .product__details{
        padding: 50px 30px 0 30px;
    }
}
@include media-breakpoint-down(sm){
    .single-product .image__slider .slide,
    .single-product .image__slider .slide .wrappper{
        height: 350px;
    }
    .single-product .image__slider{
        padding: 0 5px;
        .slide{
            padding: 0;
        }
    }
    .product__section .thumb__slider {
        margin-top: 10px;
        .slide{
            padding: 0 5px;
        }
        .thumb__wrapper{
            height: 150px;
        }
    }
    .content__block h2{
        font-size: 24px;
        line-height: 32px;
    }
}
@include media-breakpoint-down(xs){
    .single-product .image__slider .slide,
    .single-product .image__slider .slide .wrappper{
        height: 350px;
    }
    .single-product .image__slider{
        padding: 0 5px;
        .slide{
            padding: 0;
        }
    }
    .product__section .thumb__slider {
        margin-top: 10px;
        .slide{
            padding: 0 5px;
        }
        .thumb__wrapper{
            height: 90px;
        }
    }
    .content__block {
        h2{
            font-size: 20px;
            line-height: 36px;
            padding-right: 100px;
            &::before{
                right: 90px;
                min-height: 50px;
            }
        }
        .brand{
            width: 80px;
            height: 50px;
        }
    }
}
/*Pages*/
.service__title{
    width: 100%;
    float: left;
    margin-bottom: 28px;
    h4{
        color: #122947;
    }
}
.service__block{
    width: 100%;
    float: left;
    .image{
        width: 100%;
        height: 250px;
        float: left;
        position: relative;
        overflow: hidden;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    a.image{
        h6{
            position: absolute;
            top: 50%;
            left: 0%;
            width: 100%;
            padding: 0 40px;
            margin-bottom: 0;
            z-index: 3;
            color: #fff;
            text-align: center;
            opacity: 0;
            font-size: 18px;
            line-height: 24px;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);

        }
        &::before{
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-color: rgba(0,0,0,0.6);
            z-index: 2;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        &:hover{
            &::before{
                opacity: 1;
                visibility: visible;
            }
            h6{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .title{
        width: 100%;
        height: 70px;
        float: left;
        position: relative;
        text-align: center;
        margin-bottom: 35px;
        h5{
            width: 100%;
            float: left;
            color: #122947;
            margin-bottom: 0;
            position: absolute;
            top: 10px;
        }
    }
}
/*Projects*/
.project__block{
    width: 100%;
    height: 400px;
    float: left;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    .image{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .content{
        position: absolute;
        top: 16px;
        right: 16px;
        bottom: 16px;
        left: 16px;
        display: block;
        background-color: rgba(18, 41, 71, 0.9);
        opacity: 0;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        -webkit-transform: scale(0.98);
                transform: scale(0.98);
    }
    &:hover{
        .content{
            opacity: 1;
            -webkit-transform: scale(1);
                    transform: scale(1);
        }
    }
    .title{
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 0 20px;
        text-align: center;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        h4{
            color: #F2F2F2;
            margin-bottom: 7px;
        }
        p{
            color: #DCDCDC;
        }
    }
}
.project__image{
    width: 100%;
    // height: 568px;
    float: left;
    position: relative;
    margin-bottom: 40px;
    img{
        width: 100%;
        height: auto;
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // -webkit-transform: translate(-50%, -50%);
        //         transform: translate(-50%, -50%);
    }
}
@include media-breakpoint-down(lg){
    .project__block .image img{
        width: auto;
    }
}
@include media-breakpoint-down(md){
    .contact__section .form__section{
        padding: 30px;
    }
}
@include media-breakpoint-down(xs){
    .form__row .form__column{
        width: 100%;
        padding: 0;
    }
}

/*Contacts page*/
.contact__block{
    width: 100%;
    float: left;
    position: relative;
    padding-right: 30px;
    .avatar{
        width: 44px;
        height: 44px;
        position: absolute;
        overflow: hidden;
        border-radius: 50%;
        top: 0;
        left: 0;
        img{
            width: 100%;
            height: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .content{
        width: 100%;
        float: left;
        padding-left: 58px;
        border-bottom: 1px solid #DCDCDC;
        padding-bottom: 15px; 
        h4{
            margin-bottom: 4px;
            color: #122947; 
        }
        a{
            width: 100%;
            display: block;
            float: left;
            font-size: 16px;
            line-height: 23px;
            color: #1C1A19;
            margin-bottom: 7px;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &:hover{
                color: #D94245;
            }
        }
        span{
            font-size: 14px;
            line-height: 22px;
            color: #1C1A19;
        }
    }
}
.map__wrapper{
    width: 100%;
    height: 440px;
    float: left;
}
@include media-breakpoint-down(md){
    .contact__block{
        margin-top: 30px;
        padding: 0 30px;
        .avatar{
            left: 30px;
        }
    }
}
/*Tabs section*/
.tabs__section{
    width: 100%;
    float: left;
    .tabs__title{
        width: 20%;
        float: left;
        .title{
            width: 100%;
            float: left;
            margin-bottom: 25px;
            cursor: pointer;
            color: #656565;
            font-size: 22px;
            line-height: 27px;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &.active,
            &:hover{
                text-decoration: underline;
                color: #D94245;
            }
        }
    }
    .tabs__content{
        width: 80%;
        float: left;
        padding: 41px 48px;
        border: 1px solid rgba(101,101,101,0.2);
        .tab{
            width: 100%;
            float: left;
            display: none;
            &.active{
                display: block;
            }
        }
    }
    .tab__block{
        width: 50%;
        float: left;
        margin-bottom: 35px;
        &:nth-child(odd){
            padding-right: 50px;
        }
        .title{
            width: 100%;
            float: left;
            h4{
                margin-bottom: 18px;
                color: #122947;
            }
        }
        a{
            width: 100%;
            float: left;
            font-size: 16px;
            line-height: 21px;
            text-decoration: underline;
            color: #1662C7;
            display: block;
            margin-bottom: 7px;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &:hover{
                color: #D94245;
            }
        }
    }
}
@include media-breakpoint-down(md){
    .tabs__section {
        .tabs__title{
            width: 100%;
            float: left;
            margin-bottom: 30px;
            .title{
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 15px;
            }
        }
        .tabs__content{
            width: 100%;
            padding: 20px 25px;
        }
    }
}
@include media-breakpoint-down(sm){
    .tabs__section .tab__block{
        width: 100%;
        padding-right: 0;
    }
}
/*Protected form*/
.protected__form{
    width: 100%;
    max-width: 242px;
    margin: 0 auto;
}
.password__field{
    width: 100%;
    float: left;
    position: relative;
    padding-right: 48px;
    .form__field{
        width: 100%;
        height: 48px;
        float: left;
        border: 2px solid #DCDCDC;
        background-color: transparent;
        font-size: 16px;
        line-height: 19px;
        padding: 10px 18px;
        color: rgba(220, 220, 220, 0.9);
    }
    .submit__btn{
        width: 48px;
        height: 48px;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #DCDCDC;
        border: none;
        outline: none;
        cursor: pointer;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:hover{
            background-color: #ccc;
        }
        &::after{
            content: '';
            width: 20px;
            height: 15px;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -2px;
            background-image: url('../images/icon-arrow-submit.svg');
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
}
/*Blog*/
.post__block{
    width: 100%;
    float: left;
    margin-bottom: 40px;
    &:hover{
        .image{
            &::before{
                opacity: 1;
            }
            span{
                &::before,
                &::after{
                    opacity: 1;
                    -webkit-transform: translate(-50%, -50%);
                            transform: translate(-50%, -50%);
                }
            }
            .img{
                -webkit-transform: translate(-50%, -50%) scale(1.1);
                        transform: translate(-50%, -50%) scale(1.1);
            }
        }
        .title h5{
            color: #D94245;
        }
    }
    &.small{
        .image{
            height: 400px;
        }
    }
    .image{
        width: 100%;
        height: 424px;
        float: left;
        position: relative;
        overflow: hidden;
         &::before{
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0,0.6);
            opacity: 0;
            z-index: 10;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        span{
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &::before{
                content: '';
                width: 50px;
                height: 1px;
                background-color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                -webkit-transform: translate(-150%, -50%);
                        transform: translate(-150%, -50%);
            }
            &::after{
                content: '';
                width: 1px;
                height: 50px;
                background-color: #fff;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 11;
                opacity: 0;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                -webkit-transform: translate(-50%, -150%);
                        transform: translate(-50%, -150%);
            }
        }
        .img{
            width: 100%;
            height: 100%;
            position: absolute;
            background-size: cover;
            background-position: center;
            top: 50%;
            left: 50%;
            -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
    }
    .title{
        width: 100%;
        float: left;
        margin: 12px 0 0 0;
        text-align: center;
        text-decoration: none;
        h5{
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: #122947;
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
}
/*Post*/
.post__title{
    width: 100%;
    float: left;
    h1{
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        color: #122947;
        margin-bottom: 18px;
    }
    span.date{
        font-size: 14px;
        line-height: 20px;
        display:inline-block;
        color: #1C1A19;
        position: relative;
        margin-bottom: 45px;
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            display: block;
            background-color: #D94245;
            position: absolute;
            left: 0;
            bottom: -11px;
        }
    }
}
.post__content{
    width: 100%;
    float: left;
    p{
        font-size: 16px;
        line-height: 24px;
        color: #1C1A19;
        margin-bottom: 24px;
    }
    img{
        max-width: 100%;
        height: auto;
        &.alignright{
            float: right;
        }
        &.alignleft{
            float: left;
        }
        &.aligncenter{
            display: block;
            margin: auto;
        }
    }
    h1,h2,h3,h4,h5,h6{
        color: #122947;
    }
}
.post__sharing{
    width: 100%;
    float: left;
    border-top: 1px solid #DCDCDC;
    padding-top: 16px;
    margin-bottom: 85px;
    margin-top: 30px;
    h4{
        float: left;
        margin-bottom: 0;
    }
    ul{
        margin: 7px 0 0 10px;
        padding: 0;
        line-height: 0;
        list-style: none;
        float: left;
        li{
            float: left;
            margin: 0 5px;
            span{
                display: block;
                width: 18px;
                height: 18px;
                cursor: pointer;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                &.facebook{
                    background-image: url('../images/icon-facebook.svg');
                }
                &.twitter{
                    background-image: url('../images/icon-twitter.svg');
                }
                &.instagram{
                    background-image: url('../images/icon-instagram.svg');
                }
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    .products__wrapper{
        padding: 0 30px;
    }
    .post__block .image {
        height: 400px;
    }
}
@include media-breakpoint-down(sm){
    .post__block {
        .title{
            text-align: left;
        }
    }
    .post__title h1{
        font-size: 24px;
        line-height: 28px;
    }
}
@include media-breakpoint-down(xs){
    .products__wrapper{
        padding: 0 15px;
    }
    .post__block {
        .image{
            height: 300px;
        }
        &.small{
            .image{
                height: 300px;
            }
        }
    }
}