body{
    &.admin-bar{
        header{
            top: 32px;
        }
    }
}
.notice{
    width: 100%;
    min-height: 30px;
    float: left;
    background-color: #e6e6e6;
    padding: 8px 0;
    p{
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 0;
    }
}
.navigation{
    width: 100%;
    float: left;
}
header{
    width: 100%;
    min-height: 72px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 16px 0;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    &.has__notice{
        padding-top: 0;
        .navigation{
            padding-top: 15px;
        }
    }
}
.left__bar{
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 0px;
}
.right__bar{
    position: absolute;
    z-index: 10;
    right: 30px;
    top: 10px;
    .language__switcher{
        float: left;
        margin-right: 20px;
    }
}
.category__nav{
    padding-left: 34px;
    position: relative;
    cursor: pointer;
    margin: 8px 30px 8px 0;
    .icon{
        width: 26px;
        height: 26px;
        display: block;
        float: left;
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -13px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        span{
            position: absolute;
            width: 6.5px;
            height: 6.5px;
            display: block;
            background-color: #122947;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &:nth-child(1){
                top: 0;
                left: 0;
            }
            &:nth-child(2){
                top: 0;
                left: 10px;
            }
            &:nth-child(3){
                top: 0;
                right: 0;
            }
            &:nth-child(4){
                top: 10px;
                left: 0;
            }
            &:nth-child(5){
                top: 10px;
                left: 10px;
            }
            &:nth-child(6){
                top: 10px;
                right: 0;
            }
            &:nth-child(7){
                bottom: 0;
                left: 0;
            }
            &:nth-child(8){
                bottom: 0;
                left: 10px;
            }
            &:nth-child(9){
                bottom: 0;
                right: 0;
            }
        }
    }
    span{
        font-family: 'ProximaNova';
        font-size: 18px;
        line-height: 22px;
        color: #122947;
    }
    &:hover{
        span{
            border-radius: 50%;
            &:nth-child(2),
            &:nth-child(6){
                -webkit-transform: scale(0);
                        transform: scale(0);
            }
        }
        // .icon{
        //     -webkit-transform: rotate(90deg);
        //             transform: rotate(90deg);
        // }
    }
}
.currency{
    font-family: 'ProximaNova';
    font-size: 14px;
    line-height: 17px;
    color: #656565;
    display: block;
    margin: 13px 0 0;
    .label{
        font-weight: 600;
    }
}
.search__block{
    width: 100%;
    max-width: 200px;
    margin-right: 26px;
}
.search__form{
    width: 100%;
    float: left;
    position: relative;
}
.search__field{
    width: 100%;
    border: none;
    border-bottom: 1px solid #656565;
    outline: none;
    padding-right: 20px;
}
.search__submit{
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    padding: 0;
    right: 0;
    top: 5px;
    border: none;
    outline: none;
    background-color: transparent;
    background-image: url('../images/icon-search.svg');
    cursor: pointer;
}
.cart__block{
    width: 21px;
    height: 24px;
    display: block;
    background-image: url('../images/icon-cart.svg');
    margin: 0 25px 0 0;
    cursor: pointer;
    position: relative;
    span{
        display: block;
        position: absolute;
        top: -10px;
        right: -5px;
        font-size: 13px;
        line-height: 13px;
    }
}
.main__nav{
    width: 24px;
    height: 24px;
    display: block;
    cursor: pointer;
    position: relative;
    span{
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #656565;
        border-radius: 2px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &:nth-child(1){
            top: 2px;
        }
        &:nth-child(2){
            top: 11px;
        }
        &:nth-child(3){
            bottom: 2px;
        }
    }
    &:hover{
        span{
            &:nth-child(2){
                width: 70%
            }
            &:nth-child(3){
                width: 50%;
            }
        }
    }
}
.menu__block{
    width: 100%;
    max-width: 960px;
    position: fixed;
    background-color: #fff;
    top: 0;
    bottom: 0;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.8s ease;
            transition: all 0.8s ease;
    &.left{
        left: -100%;
        &.show{
            left: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    &.right{
        right: -100%;
        &.show{
            right: 0;
            opacity: 1;
            visibility: visible;
        }
    }
    nav{
        width: 100%;
        height: auto;
        float: left;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 72px;
        bottom: 0;
        overflow: hidden;
        overflow-y: auto;
        >ul{
            width: 100%;
            float: left;
            list-style: none;
            padding: 0;
            margin: 0;
            line-height: 0;
            >li{
                width: 100%;
                float: left;
                display: block;
                padding: 21px 32px;
                border-top: 1px solid rgba(220, 220, 220, 0.5);
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                &.menu-item-has-children {
                    >a::after {
                        content: '';
                        display: block;
                        width: 14px;
                        height: 14px;
                        position: absolute;
                        top: 15px;
                        right: 0;
                        background-image: url('../images/icon-submenu.svg');
                    }
                    &:hover{
                        &>ul.sub-menu{
                            opacity: 1;
                            visibility: visible;
                            -webkit-transform: translate(0, -2px);
                                    transform: translate(0, -2px);
                        }
                    }
                }
                >a{
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 40px;
                    color: #122947;
                    display: inline-block;
                    position: relative;
                    padding-right: 26px;
                    text-decoration: none;
                    margin-right: 24px;
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                    &:hover{
                        color: #D94245;
                    }
                }
                &:hover{
                    text-decoration: none;
                    background-color: rgba(34, 124, 242, 0.1);
                }
            }
        }
        ul.sub-menu{
            padding: 0;
            margin: 0;
            list-style: none;
            line-height: 0;
            display: inline-block;
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translate(15px, -2px);
                    transform: translate(15px, -2px);
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            li{
                display: inline-block;
                margin: 0 22px 0 0;
                a{
                    font-size: 16px;
                    line-height: 25px;
                    color: #122947;
                    display: inline-block;
                }
            }
        }
    }
}
.menu__wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(28, 26, 25, 0.4);
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
    &.show{
        opacity: 1;
        visibility: visible;
    }
}
.phone__btn{
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin: 0 25px 0 0;
    background-position: center;
    background-size: cover;
    background-image: url('../images/icon-phone.svg');
    display: none;
}
.phone__block{
    margin: -10px 25px 0 0;
    position: relative;
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 23px;
        height: 23px;
        top: 50%;
        left: -35px;
        background-position: center;
        background-size: cover;
        background-image: url('../images/icon-phone.svg');
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    a{
        display: block;
        clear: both;
        font-size: 14px;
        color: #656565;
        &:hover{
            text-decoration: none;
            color: #122947;
        }
    }
}
.phone__popup{
    .phones{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        h5{
            width: 100%;
            float: left;
            display: block;
            margin-bottom: 0;
            font-weight: 600;
            color: #122947;
            font-size: 26px;
            line-height: 40px;
            text-align: center;
            white-space: nowrap;
        }
        a{
            width: 100%;
            float: left;
            display: block;
            font-family: 'Open Sans',sans-serif;
            font-weight: 600;
            font-size: 26px;
            line-height: 40px;
            color: #122947;
            margin: 0 0 25px;
            text-align: center;
            white-space: nowrap;
            &:hover{
                color: #D94245;
                text-decoration: none;
            }
        }
    }
}
.top__nav{
    position: absolute;
    top: 26px;
    right: 38px;
    .close__menu{
        width: 23px;
        height: 22px;
        display: block;
        float: left;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover{
            &::before{
                -webkit-transform: rotate(90deg);
                        transform: rotate(90deg);
            }
            &::after{
                -webkit-transform: rotate(-90deg);
                        transform: rotate(-90deg);
            }
        }
        &::before{
            content: '';
            width: 1px;
            height: 27px;
            display: block;
            background-color: #000;
            position: absolute;
            top: -2px;
            left: 10.5px;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
        }
        &::after{
            content: '';
            width: 1px;
            height: 27px;
            display: block;
            background-color: #000;
            position: absolute;
            top: -2px;
            left: 10.5px;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }
}
.language__switcher{
    float: left;
    margin-right: 26px;
    ul{
        padding: 0;
        margin: 0;
        line-height: 0;
        list-style: none;
        li{
            float: left;
            &.current{
                a{
                    font-weight: 700;
                    color: #122947;
                }
            }
            a{
                font-size: 16px;
                line-height: 25px;
                color: #a7a7a7;
                text-transform: capitalize;
                text-decoration: none;
                padding: 1px 6px;
                position: relative;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                &::after{
                    content: '/';
                    position: absolute;
                    right: -3px;
                    top: 0;
                    font-size: 16px;
                    line-height: 25px;
                    color: #122947;
                }
                &:hover{
                    color: #122947;
                }
            }
            &:last-child{
                a{
                    &::after{
                        display: none;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(lg){
    .phone__block {
        display: none;
    }
    .phone__btn{
        display: block;
    }
}
@include media-breakpoint-down(md){
    .menu__block{
        max-width: 100%;
        nav {
            > ul {
                > li{
                    padding: 10px 30px;
                    >a{
                        width: 100%;
                        float: left;
                        display: block;
                        font-size: 22px;
                        line-height: 28px;
                    }
                    &.menu-item-has-children {
                        > a::after{
                            top: 7px;
                        }
                        &:hover{
                            > ul.sub-menu{
                                -webkit-transform: translate(0, 0);
                                        transform: translate(0, 0);
                            }
                        }
                    }
                }
            }
            ul.sub-menu{
                width: 100%;
                float: left;
                opacity: 1;
                visibility: visible;
                margin: 5px 0 0;
                padding: 0 0 0 20px;
                -webkit-transform: translate(0, 0);
                        transform: translate(0, 0);
                li{
                    width: 100%;
                    float: left;
                    display: block;
                    margin: 0;
                    a{
                        width: 100%;
                        float: left;
                        display: block;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
    .right__bar .language__switcher,
    .currency,
    .category__nav span{
        display: none;
    }
    .category__nav {
        padding-left: 0;
        margin: 8px 0;
        .icon{
            position: relative;
            margin-top: 0;
        }
    }
}
@include media-breakpoint-down(xs){
    .left__bar{
        left: 20px;
    }
    .right__bar{
        right: 20px;
    }
    .top__nav{
        right: 20px;
    }
    .logo{
        margin: 5px 0 0 55px;
        display: block;
        float: left;
        img{
            width: 110px;
        }
    }
}